@model PagedList.IPagedList<WebApplication9.Data.Requisition>
@using PagedList.Mvc;

@if (Model.Count > 0)
{
    <div id="hty">
        @if (Model.PageCount > 1)
        {
            <div id="myPager">
                @Html.PagedListPager(Model, page => Url.Action("SearchResult", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        }

        <p class="search-header">Search Results (@ViewBag.total)</p>

        @foreach (var requisition in Model)
        {
            @Html.EditorFor(model => requisition)
            @Html.EditorFor(model => requisition, "DetailedInfo")
        }
    </div>
    <script type="text/javascript" src="~/Scripts/jquery.collapsiblepanel.js"></script>
    <script>
        $(document).ready(function () {
            var errorMsg = 'Something failed, please try again';
            $('#myPager').on('click', 'a', function () {
                $.ajax({
                    url: this.href,
                    beforeSend: function () {
                        $('.spinner').fadeIn('slow')
                    },
                    type: 'GET',
                    error: function (xhr, status, error) {
                        $('.spinner').fadeOut('slow');
                        $('.ajax-message').text(errorMsg);
                        $('.ajax-message').css('backgroundColor', '#F1A9A0');
                        $('.ajax-message').css('color', 'white');
                        $('.ajax-message').fadeIn('slow').delay(5000).fadeOut('slow');
                    },
                    data: $('form').serialize(),
                    cache: false,
                    success: function (result) {
                        console.log(result)
                        $('#hty').html(result);
                        $('.spinner').fadeOut('slow')
                    }
                });
                return false;
            });
        });
    </script>
}
else
{
    <p>No results were found</p>
}