@model WebApplication9.Data.Requisition

<h1>Your requisition is successfully submitted!</h1>

@Html.EditorForModel(Model)

<script src="~/Scripts/jquery.collapsiblepanel.js" type="text/javascript"></script>