@model WebApplication9.Data.Requisition
@{ ViewBag.Title = "Requsition Submitted"; }

<h5>Your requisition is successfully submitted.</h5>

@Html.EditorForModel(Model)

<script src="~/Scripts/jquery.collapsiblepanel.js" type="text/javascript"></script>