@model PagedList.IPagedList<WebApplication9.Data.Requisition>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Ordered Requisitions";
}

@if (Model.Count > 0)
{
    @section AddToHead{
        <link href="~/Content/bootbox.css" rel="stylesheet" />
    }
    <div id="hty">
        @if (Model.PageCount > 1)
        {
            <div id="myPager">
                @Html.PagedListPager(Model, page => Url.Action("Ordered", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        }
        @foreach (var requisition in Model)
        {
            <div class="req-block">
                <div class="mark-complete" data-attr='@requisition.RequisitionId'>
                    mark as completed
                </div>
                @Html.EditorFor(model => requisition)
                @Html.EditorFor(model => requisition, "DetailedInfo")
            </div>
        }

    </div>
    <script type="text/javascript" src="~/Scripts/jquery.collapsiblepanel.js"></script>
    <script src="~/Scripts/_js_Pagination.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var errorMsg = 'Something failed, please try again';
        var successMsg = 'Success';
        $('.mark-complete').click(function () {
            var id = $(this).attr('data-attr');
            var elToFade = $(this).closest('.req-block');
            bootbox.confirm('Are you sure ?', function (result) {
                if (result) {
                    $.ajax({
                        type: "GET",
                        url: "/Requisition/MarkComplete",
                        data: {
                            "id": id
                        },
                        beforeSend: function () {
                            $('.spinner').fadeIn('slow')
                        },
                        success: function () {
                            elToFade.fadeOut('slow');
                            $('.ajax-message').css('backgroundColor', '#2ABB9B');
                            $('.ajax-message').css('color', 'white');
                            $('.ajax-message').text(successMsg);
                            $('.ajax-message').fadeIn('slow').delay(4000).fadeOut('slow');
                        },
                        error: function (xhr, status, error) {
                            $('.spinner').fadeOut('slow');
                            $('.ajax-message').text(errorMsg);
                            $('.ajax-message').css('backgroundColor', '#F1A9A0');
                            $('.ajax-message').css('color', 'white');
                            $('.ajax-message').fadeIn('slow').delay(5000).fadeOut('slow');
                        },
                        complete: function () {
                            $('.spinner').fadeOut('slow');
                        }
                    });
                }
            })
        })
    </script>
}
else
{
    <h2>At the moment, there are no requisitions marked as ordered.</h2>
}