@model WebApplication9.Data.MyRole

@{
    ViewBag.Title = "Delete Role";
}

<h3>Are you sure you want to delete this Role? </h3>
<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>Deleting this Role will remove all users from this role. It will not delete the users.</p>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="configure-control">
            <span>
                <input type="submit" value="Delete" class="btn-mnu btn-default" />
            </span>
            <a href="@Url.Action("Index")">
                <span>
                    <span class="btn-mnu btn-custom">Back To List</span>
                </span>
            </a>
        </div>
    }
</div>