@model WebApplication9.Data.File

<div class="attachments">
    @Model.FileName
    <a href='@Url.Action("Download", "Requisition", new { link = Model.FileLink, name = Model.FileName })'>
        <span class="icono-file"></span>
    </a>
</div>