<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Requisition1Entities" connectionString="metadata=res://*/Project_Requisition.csdl|res://*/Project_Requisition.ssdl|res://*/Project_Requisition.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STAS-PC;initial catalog=Project_Requisition1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>