@{
    ViewBag.Title = "Confirm Email";
}

<h2>Email Confirmed.</h2>

<h3>
    Thank you for confirming your email. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "green", @id = "loginLink", }) to log in.
</h3>