@{
    ViewBag.Title = "Reset password confirmation";
}

<h3>
    Your password has been reset. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "green", @id = "loginLink",  }) to log in.
</h3>